/*I need to make the width of main 1--% set the article to float. 
Set aside font and background
make button styles
make forms. replace lables with placeholder 
set the main and article to be position fixed
set the bacground for the cardlist. centered. position fixed side scroll bard
style the scrool bars?
figure out a method to alternate cards classes possibly nth child. 
*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
  left: 0px;
  top: 0px;
  position:fixed;
  background:  url('./images/background.jpg');
  background-size: cover;
}

.coveroverlay{
  background: rgba(243, 223, 216, 0.6);
  width: 100vw;
  height: 100vh;
}

header{
  font-family: 'sacramento';
  font-size: x-large;
  background:  url('./images/header.jpg')  rgba(13, 27, 38, 0.9);
  background-size: cover;
  background-blend-mode: multiply;
  color: #F3DFD8;
  left: 0px;
  top: 0px;
  position:fixed;
  
  width: 100%;
}

h1{
  padding-left: 8%;
  text-shadow: rgba(243,223,216,1) 0px 0px 10px;
}
main section{
  padding-top: 130px;
  width: 100vw;
  font-family: Epilogue;
  display: flex;
  justify-content: space-between;
}

section article{
  width: 70%;
  padding-left: 3%;

}
aside{
  width:25%;
  text-align: right;
  padding-right: 3%;
  height: 100vh;
  background: rgba(63, 84, 89, 0.9);
  color: #FFFFFF;
}

aside section{
  padding-top: 5%;
  width: 50%;
}

ul li{
  list-style-type: none;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
